<html>
<head>
    <title>Transkop</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<br/><br/><br/><br/>
<div id="app" style="position: relative; width: 60%; left: 20%;">
    <input type="button" class="button" @click="location.href = '/swagger-ui/';" value="Swagger dokumentacija">
    <input type="button" class="button" @click="location.href = '/location.html';" value="Prikaz lokacija">
    </br>
    </br>
    <input type="button" class="button" @click="modal = true; cleanForm();" value="Dodaj novi proizvod">
    </br>
    </br>
    <div class="modal-wrapper" v-if="modal">
    <div class="modal">
        <form @submit.prevent="submit">
        <table>
            <tr>
                <td class="right">Naziv proizvoda</td>
                <td><input type="text" v-model="name" required></td>
            </tr>
            <tr>
                <td class="right">Dimenzije</td>
                <td><input type="text" v-model="dimensions" required></td>
            </tr>
            <tr>
                <td class="right">Datum</td>
                <td><input type="date" v-model="productionDate" required></td>
            </tr>
            <tr>
                <td><input class="button" type="button" value="Otkazi" @click="modal = false"></td>
                <td><input class="button" type="submit" value="Potvrdi"></td>
            </tr>
        </table>
    </form>
    </div>
    </div>
    <div class="modal-wrapper" v-if="encodedImage" @click="encodedImage = null">
        <div class="modal">
            <img class = "rotate" alt="Vue logo" :src="getQRCodeImgUrl" />
        </div>
    </div>
    </br>
    <div class="box" v-for="item in items" style="margin-bottom: 30px;">
        <table>
            <tr>
                <td colspan="2" style="color:#62C1D3"><b>{{item.name}}</b></td>
            </tr>
            <tr>
                <td>Dimenzije</td>
                <td>{{item.dimensions}}</td>
            </tr>
            <tr>
                <td>Datum proizvodnje</td>
                <td>{{formatDate(item.productionDate)}}</td>
            </tr>
            <tr>
                <td>
                    <input class="button" type="button" value="Izmeni" @click="edit(item)">&nbsp;
                    <input class="button" type="button" value="QR" @click="getQRCode(item.id)">
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
<script src="index.js?"></script>
</body>
</html>